repos:
  - repo: local
    hooks:
      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --all -- --check
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --all-targets --all-features -- -D warnings
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: cargo-test
        name: cargo test
        entry: cargo test --lib --bins
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]

      - id: cargo-check
        name: cargo check
        entry: cargo check --all-targets --all-features
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-commit]