<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/styles.css">
    <!-- Include Shoelace assets -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.12.0/cdn/themes/light.css" />
    <script type="module" src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.12.0/cdn/shoelace-autoloader.js"></script>
    <script src="/components/doc-sidebar.js" type="module"></script>
    <script src="/components/doc-toc.js" type="module"></script>
</head>
<body>
    <div class="container">
        <doc-sidebar>
            {% if toc %}
            <ul>
                {% for h1 in toc %}
                <li>
                    <a href="#{{ h1.id | safe }}">{{ h1.title }}</a>
                    {% if h1.children %}
                    <ul>
                        {% for h2 in h1.children %}
                        <li><a href="#{{ h2.id | safe }}">{{ h2.title }}</a></li>
                        {% endfor %}
                    </ul>
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
        </doc-sidebar>
        <main class="content">
            <article class="main-article">
                <h1>{{ page.title }}</h1>
                {{ page.content | safe }}
                <div class="nav-footer">
                    {% if page.previous %}
                    <sl-button href="{{ page.previous.path | safe }}" variant="default" class="nav-previous">
                        <sl-icon slot="prefix" name="arrow-left"></sl-icon>
                        {{ page.previous.title }}
                    </sl-button>
                    {% endif %}
                    {% if page.next %}
                    <sl-button href="{{ page.next.path | safe }}" variant="default" class="nav-next">
                            {{ page.next.title }}
                        <sl-icon slot="suffix" name="arrow-right"></sl-icon>
                    </sl-button>
                    {% endif %}
                </div>
            </article>
        </main>
        <doc-toc>
        </doc-toc>

    </div>
</body>
</html> 